#
# Touchscreen driver configuration
#
config TOUCHSCREEN_ZINITIX_BT404_U8500
	tristate "Zinitix BT404 Touchscreens"
	depends on I2C
	default n
	help
		Say Y if you want support for Zinitix bt404 touchscreen
		controllers.
config TOUCHSCREEN_ZINITIX_U8500
	bool "Zinitix Touchscreens"
	depends on I2C
	default n
	help
		Say Y if you want support for Zinitix  touchscreen
		controllers.
config TOUCHSCREEN_ATMEL_MXT224E_U8500
	bool "Atmel MXT224E Touchscreen Interface"
	depends on I2C
	default n
	help
		Say Y here if you want support for atmel_224E touchscreen controllers.
		To compile this driver as a module, choose M here: the
		module will be called atmel_mxt224E.

config TOUCHSCREEN_SWEEP2WAKE_U8500
        tristate "Sweep2Wake for touchscreens"
        default n

config TOUCHSCREEN_SWEEP2WAKE_WAKELOCK_U8500
	depends on TOUCHSCREEN_SWEEP2WAKE
        bool "Sweep2Wake for touchscreens"
        default n

config TOUCHSCREEN_DOUBLETAP2WAKE_U8500
        tristate "DoubleTap2Wake for touchscreens"
        default n

config TOUCHSCREEN_DOUBLETAP2WAKE_WAKELOCK_U8500
	depends on TOUCHSCREEN_DOUBLETAP2WAKE
        bool "DoubleTap2Wake for touchscreens"
        default n

