#
# Input device configuration
#

menu "Input device support"
	depends on !S390

if INPUT

source "arch/arm/mach-ux500/drivers/input/keyboard/Kconfig"

source "arch/arm/mach-ux500/drivers/input/touchscreen/Kconfig"

source "arch/arm/mach-ux500/drivers/input/misc/Kconfig"

endif

endmenu

