#
# GPIO infrastructure and drivers
#

config GPIO_AB8500
	bool "ST-Ericsson AB8500 Mixed Signal Circuit gpio functions"
	depends on AB8500_CORE
	help
	  Select this to enable the AB8500 IC GPIO driver
