menu "Device Drivers"

source "drivers/base/Kconfig"

source "drivers/battery/Kconfig"

source "drivers/connector/Kconfig"

source "drivers/mtd/Kconfig"

source "drivers/of/Kconfig"

source "drivers/parport/Kconfig"

source "drivers/pnp/Kconfig"

source "drivers/block/Kconfig"

# misc before ide - BLK_DEV_SGIIOC4 depends on SGI_IOC4

if ARCH_U8500
source "u8500/drivers/misc/Kconfig"
endif

if !ARCH_U8500
source "drivers/misc/Kconfig"
endif

source "drivers/ide/Kconfig"

if ARCH_U8500
source "u8500/drivers/scsi/Kconfig"
endif

if !ARCH_U8500
source "drivers/scsi/Kconfig"
endif

source "drivers/ata/Kconfig"

source "drivers/md/Kconfig"

source "drivers/target/Kconfig"

source "drivers/message/fusion/Kconfig"

source "drivers/firewire/Kconfig"

source "drivers/message/i2o/Kconfig"

source "drivers/macintosh/Kconfig"

source "drivers/net/Kconfig"

source "drivers/isdn/Kconfig"

source "drivers/telephony/Kconfig"

# input before char - char/joystick depends on it. As does USB.

source "drivers/input/Kconfig"

if ARCH_U8500
source "u8500/drivers/input/Kconfig"
endif

source "drivers/char/Kconfig"

if ARCH_U8500
source "u8500/drivers/i2c/Kconfig"
endif

if !ARCH_U8500
source "drivers/i2c/Kconfig"
endif

if ARCH_U8500
source "u8500/drivers/spi/Kconfig"
endif

if !ARCH_U8500
source "drivers/spi/Kconfig"
endif

if ARCH_U8500
source "u8500/drivers/hsi/Kconfig"
endif

if !ARCH_U8500
source "drivers/hsi/Kconfig"
endif

source "drivers/pps/Kconfig"

source "drivers/ptp/Kconfig"

if ARCH_U8500
source "u8500/drivers/gpio/Kconfig"
endif

if !ARCH_U8500
source "drivers/gpio/Kconfig"
endif

source "drivers/w1/Kconfig"

if ARCH_U8500
source "u8500/drivers/power/Kconfig"
endif

if !ARCH_U8500
source "drivers/power/Kconfig"
endif

if ARCH_U8500
source "u8500/drivers/hwmon/Kconfig"
endif

if !ARCH_U8500
source "drivers/hwmon/Kconfig"
endif

source "drivers/thermal/Kconfig"

if ARCH_U8500
source "u8500/drivers/watchdog/Kconfig"
endif

if !ARCH_U8500
source "drivers/watchdog/Kconfig"
endif

source "drivers/ssb/Kconfig"

source "drivers/bcma/Kconfig"

if ARCH_U8500
source "u8500/drivers/mfd/Kconfig"
endif

if !ARCH_U8500
source "drivers/mfd/Kconfig"
endif

if ARCH_U8500
source "u8500/drivers/regulator/Kconfig"
endif

if !ARCH_U8500
source "drivers/regulator/Kconfig"
endif

if ARCH_U8500
source "u8500/drivers/media/Kconfig"
endif

if !ARCH_U8500
source "drivers/media/Kconfig"
endif

if ARCH_U8500
source "u8500/drivers/video/Kconfig"
endif

if !ARCH_U8500
source "drivers/video/Kconfig"
endif

source "sound/Kconfig"

source "drivers/hid/Kconfig"

if ARCH_U8500
source "u8500/drivers/usb/Kconfig"
endif

if !ARCH_U8500
source "drivers/usb/Kconfig"
endif

source "drivers/uwb/Kconfig"

if ARCH_U8500
source "u8500/drivers/mmc/Kconfig"
endif

if !ARCH_U8500
source "drivers/mmc/Kconfig"
endif

source "drivers/memstick/Kconfig"

source "drivers/leds/Kconfig"

source "drivers/nfc/Kconfig"

source "drivers/switch/Kconfig"

source "drivers/accessibility/Kconfig"

source "drivers/infiniband/Kconfig"

source "drivers/edac/Kconfig"

if ARCH_U8500
source "u8500/drivers/rtc/Kconfig"
endif

if !ARCH_U8500
source "drivers/rtc/Kconfig"
endif

if ARCH_U8500
source "u8500/drivers/dma/Kconfig"
endif

if !ARCH_U8500
source "drivers/dma/Kconfig"
endif

source "drivers/dca/Kconfig"

source "drivers/auxdisplay/Kconfig"

source "drivers/uio/Kconfig"

source "drivers/vlynq/Kconfig"

source "drivers/xen/Kconfig"

source "drivers/staging/Kconfig"

source "drivers/platform/Kconfig"

if ARCH_U8500
source "u8500/drivers/clk/Kconfig"
endif

if !ARCH_U8500
source "drivers/clk/Kconfig"
endif

source "drivers/tee/Kconfig"

source "drivers/hwspinlock/Kconfig"

if ARCH_U8500
source "u8500/drivers/clocksource/Kconfig"
endif

if !ARCH_U8500
source "drivers/clocksource/Kconfig"
endif

source "drivers/modem/Kconfig"

source "drivers/samsung/Kconfig"

source "drivers/sensor/Kconfig"

source "drivers/phone_svn/Kconfig"

source "drivers/interceptor/Kconfig" 

if ARCH_U8500
source "u8500/drivers/bcmdhd/Kconfig"
endif

endmenu

