#
# Multifunction miscellaneous devices
#

if MFD_SUPPORT

config MFD_CORE
	tristate
	default n

config MFD_STMPE
	bool "Support STMicroelectronics STMPE"
	depends on (I2C=y || SPI_MASTER=y) && GENERIC_HARDIRQS
	select MFD_CORE
	help
	  Support for the STMPE family of I/O Expanders from
	  STMicroelectronics.

	  Currently supported devices are:

		STMPE811: GPIO, Touchscreen
		STMPE1601: GPIO, Keypad
		STMPE2401: GPIO, Keypad
		STMPE2403: GPIO, Keypad

	  This driver provides common support for accessing the device,
	  additional drivers must be enabled in order to use the functionality
	  of the device.  Currently available sub drivers are:

		GPIO: stmpe-gpio
		Keypad: stmpe-keypad
		Touchscreen: stmpe-ts

menu "STMPE Interface Drivers"
depends on MFD_STMPE

config STMPE_I2C
	bool "STMPE I2C Inteface"
	depends on I2C
	default y
	help
	  Enable I2C interface support for the STMPE devices.

	  The STMPE devices can be connected to different busses. This
	  enables the I2C interface for the devices.

config STMPE_SPI
	bool "STMPE SPI Inteface"
	depends on SPI_MASTER
	help
	  Enable SPI interface support for the STMPE devices.

	  The STMPE devices can be connected to different busses. This
	  enables the SPI interface for the devices.
endmenu

config AB5500_CORE
	bool "ST-Ericsson AB5500 Mixed Signal Circuit core functions"
	select MFD_CORE
	depends on GENERIC_HARDIRQS && ABX500_CORE
	help
	  Select this to enable the AB5500 Mixed Signal IC core
	  functionality. This connects to a AB5500 chip on the I2C bus via
	  the Power and Reset Management Unit (PRCMU). It exposes a number
	  of symbols needed for dependent devices to read and write
	  registers and subscribe to events from this multi-functional IC.
	  This is needed to use other features of the AB5500 such as
	  battery-backed RTC, charging control, Regulators, LEDs, vibrator,
	  system power and temperature, power management and ALSA sound.

config AB5500_GPADC
	bool "AB5500 GPADC driver"
	depends on AB5500_CORE
	default y
	help
	  AB5500 GPADC driver used to convert battery/usb voltage.

config ABX500_CORE
	bool "ST-Ericsson ABX500 Mixed Signal Circuit register functions"
	default y if ARCH_U300 || ARCH_U8500
	help
	  Say yes here if you have the ABX500 Mixed Signal IC family
	  chips. This core driver expose register access functions.
	  Functionality specific drivers using these functions can
	  remain unchanged when IC changes. Binding of the functions to
	  actual register access is done by the IC core driver.

config AB3100_CORE
	bool "ST-Ericsson AB3100 Mixed Signal Circuit core functions"
	depends on I2C=y && ABX500_CORE
	select MFD_CORE
	default y if ARCH_U300
	help
	  Select this to enable the AB3100 Mixed Signal IC core
	  functionality. This connects to a AB3100 on the I2C bus
	  and expose a number of symbols needed for dependent devices
	  to read and write registers and subscribe to events from
	  this multi-functional IC. This is needed to use other features
	  of the AB3100 such as battery-backed RTC, charging control,
	  LEDs, vibrator, system power and temperature, power management
	  and ALSA sound.

config AB3100_OTP
	tristate "ST-Ericsson AB3100 OTP functions"
	depends on AB3100_CORE
	default y if AB3100_CORE
	help
	  Select this to enable the AB3100 Mixed Signal IC OTP (one-time
	  programmable memory) support. This exposes a sysfs file to read
	  out OTP values.

config AB8500_CORE
	bool "ST-Ericsson AB8500 Mixed Signal Power Management chip"
	depends on GENERIC_HARDIRQS && ABX500_CORE
	select MFD_CORE
	help
	  Select this option to enable access to AB8500 power management
	  chip. This connects to U8500 either on the SSP/SPI bus (deprecated
	  since hardware version v1.0) or the I2C bus via PRCMU. It also adds
	  the irq_chip parts for handling the Mixed Signal chip events.
	  This chip embeds various other multimedia funtionalities as well.

config AB8500_I2C_CORE
	bool "AB8500 register access via PRCMU I2C"
	depends on AB8500_CORE
	default y
	help
	  This enables register access to the AB8500 chip via PRCMU I2C.
	  The AB8500 chip can be accessed via SPI or I2C. On DB8500 hardware
	  the I2C bus is connected to the Power Reset
	  and Mangagement Unit, PRCMU.

config AB8500_DENC
	bool "AB8500_DENC driver support(CVBS)"
	depends on AB8500_CORE
	help
	  Select this option to add driver support for analog TV out through
	  AB8500.


config AB8500_DEBUG
       bool "Enable debug info via debugfs"
       depends on AB8500_CORE && DEBUG_FS
       default y if DEBUG_FS
       help
         Select this option if you want debug information using the debug
         filesystem, debugfs.

config AB8500_GPADC
	bool "AB8500 GPADC driver"
	depends on AB8500_CORE
	default y
	help
	  AB8500 GPADC driver used to convert Acc and battery/ac/usb voltage.

config AB3550_CORE
        bool "ST-Ericsson AB3550 Mixed Signal Circuit core functions"
	select MFD_CORE
	depends on I2C=y && GENERIC_HARDIRQS && ABX500_CORE
	help
	  Select this to enable the AB3550 Mixed Signal IC core
	  functionality. This connects to a AB3550 on the I2C bus
	  and expose a number of symbols needed for dependent devices
	  to read and write registers and subscribe to events from
	  this multi-functional IC. This is needed to use other features
	  of the AB3550 such as battery-backed RTC, charging control,
	  LEDs, vibrator, system power and temperature, power management
	  and ALSA sound.

config DBX500_PRCMU
	bool "ST-Ericsson DBX500 Power Reset Control Management Unit"
	depends on UX500_SOC_DB8500
	help
	  Select this option to enable support for generic DBX500 Power
	  Reset and Control Management Unit. you have to select it for
	  enabling interface with other components like cpufreq,
	  cpuidle, prcmu-qos-power.


config MFD_DB8500_PRCMU
	bool "ST-Ericsson DB8500 Power Reset Control Management Unit"
	depends on UX500_SOC_DB8500
	select MFD_CORE
	select DBX500_PRCMU
	help
	  Select this option to enable support for the DB8500 Power Reset
	  and Control Management Unit. This is basically an autonomous
	  system controller running an XP70 microprocessor, which is accessed
	  through a register map.

config MFD_DBX540_PRCMU
	bool "ST-Ericsson DB9540/DB8540 Power Reset Control Management Unit"
	depends on UX500_SOC_DB8500
	select MFD_CORE
	help
	  Select this option to enable support for the DB9540/DB8540 Power Reset
	  and Control Management Unit. This is basically an autonomous
	  system controller running an XP70 microprocessor, which is accessed
	  through a register map.


config MFD_DB5500_PRCMU
	bool "ST-Ericsson DB5500 Power Reset Control Management Unit"
	depends on UX500_SOC_DB5500
	select MFD_CORE
	help
	  Select this option to enable support for the DB5500 Power Reset
	  and Control Management Unit. This is basically an autonomous
	  system controller running an XP70 microprocessor, which is accessed
	  through a register map.

endif
