#
# Input misc drivers configuration
#

config INPUT_AB8500_ACCDET_U8500
	bool "AB8500 AV Accessory detection"
	depends on AB8500_CORE && AB8500_GPADC && GPIO_AB8500
	help
	  Say Y here to enable AV accessory detection features for ST-Ericsson's
	  AB8500 Mix-Sig PMIC.

config INPUT_AB8500_PONKEY_U8500
	tristate "AB5500/AB8500 Pon (PowerOn) Key"
	depends on AB5500_CORE || AB8500_CORE
	help
	  Say Y here to use the PowerOn Key for ST-Ericsson's AB5500/AB8500
	  Mix-Sig PMICs.

	  To compile this driver as a module, choose M here: the module
	  will be called ab8500-ponkey.

config INPUT_AB8505_MICRO_USB_DETECT_U8500
	bool "AB8505/AB9540 Micro USB device detection support"
	depends on AB8500_CORE
	help
	  Say Y here to enable Micro USB cable detection driver. This Driver
	  detects the accessory devices connected to the micro usb connector,
	  like micro usb headset, uart, carkit etc.

	  If unsure, say N.
